<!DOCTYPE html>
<div class="parent">
  <form class="search-form" [formGroup]="simplesearch_data" (ngSubmit)="onFormSubmit()">
    <table class="search-full-width">
      <tr class="tableRowCenter">
      </tr>
      <tr class="tableRowCenter">
        <th style="width:80%">
          <mat-form-field class="search-full-width" appearance="outline">
            <mat-label class="matLabel"><mat-icon class="matIcon">search</mat-icon>Skriv valfria sökord här</mat-label>
            <input matInput placeholder="Sökord" type="text" id="simple_searchBar" name="simple_searchString" formControlName="simple_searchString">
          </mat-form-field>
        </th>
        <th style="width:20%; align-content:center">
          <div class="search-button"><button mat-raised-button color="primary" type="submit">Sök</button></div>
        </th>
      </tr>
    </table>
  </form>
</div>

  <table>
    <tr>
      <mat-grid-list cols="3" rowHeight="2:1">
        <ng-container *ngFor="let image of imagesData; let i = index">
            <td>
              <ol>
                <li>
                  <img src="{{ image.variants[0] }}" height="280px" width="200px" id="image_{{ i }}">
                  <p>Fotograf: {{ image.photographer }}</p>
                  <p>Pris: {{ image.price }}</p>
                  <p>Begränsningar: {{ image.restrictions }}</p>
                  <p *ngIf="image.restrictions==='Begränsad'">Kvarstående publiceringar: {{ image.remaining_publications }}</p>
                  <table>
                    <th>Varianter</th>
                    <tr>
                      <td  *ngFor="let variant of image.variants">
                      <img src="{{ variant }}" height="30px" width="20px" (click)="changePicture(i,variant)">
                    </td>
                    </tr>
                  </table>
                </li>
                <li>
                  <button mat-raised-button (click)="openDialog(image)">Mer Info</button>
                </li>
                <li>
                  <form [formGroup]="uploadVariantForm" (ngSubmit)="uploadVariant(image)">
                  <mat-form-field class="fileupload-full-width" appearance="outline" id="fileUploader">
                    <div class="fileupload-full-width">
                      <mat-toolbar>
                        <input matInput placeholder="Välj fil" readonly name="uploadedImage">
          
          
                        <input type="file" #UploadFileInput id="customFile" (change)="onFileSelect($event)" name="uploadedImage"
                               multiple="multiple" accept="image/*">
          
                      </mat-toolbar>
                      <button class="fileupload-button" mat-raised-button color="primary" type="sumbit">Ladda upp</button>
                    </div>
                  </mat-form-field>
                </form>
                </li>
              </ol>
            </td>
        </ng-container>
      </mat-grid-list>
  </tr>
  </table>
