<!DOCTYPE html>
<br />
<br />
<br />
<div class="parent">
  <form class="search-result" [formGroup]="simplesearch_data" (ngSubmit)="onFormSubmit()">
    <table class="search-full-width">
      <tr class="tableRowLeft">
        <p class="title">Sökresultat</p>
      </tr>
      <tr class="tableRowLeft">
        <th style="width:40%">
          <mat-form-field class="search-full-width" appearance="outline">
            <mat-label class="matLabel"><mat-icon class="matIcon">search</mat-icon>Skriv valfria sökord här</mat-label>
            <input matInput placeholder="Sökord" type="text" id="simple_searchBar" name="simple_searchString" formControlName="simple_searchString">
          </mat-form-field>
        </th>
        <th style="width:20%; align-content:center">
          <div class="search-button"><button mat-raised-button color="primary" type="submit">Sök</button></div>
        </th>
        <th style="width:40%; align-content:center">
        </th>
      </tr>
    </table>
  </form>
</div>



 

<div class="parent">
  <table class="search-result">
    <tr><p class="title">Din sökning genererade {{ resultLength }} träffar.</p></tr>
    <tr>
      <mat-accordion class="headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><mat-icon class="padding_icon">filter_list</mat-icon> Filtrera sökresultat </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>



          <form class="filter-form" [formGroup]="filter_data">
          <mat-label class="matLabel">Kategori</mat-label>
          <mat-select matNativeControl multiple placeholder="Kategori" id="filterCategory" name="filterCategory" formControlName="filterCategory">
            <mat-option *ngFor="let category of categoriesOptions" [value]="category">{{category}}</mat-option>
          </mat-select>
        </form>


          <div class="userlist-form-width">

              <span class="paddingLeft"><button mat-raised-button color="white"> Rensa </button></span>
              <span class="paddingLeft"><button mat-raised-button color="primary" (click)="filter()">Filtrera</button></span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
      <br />
    </tr>

    <tr>
      <mat-grid-list cols="4" rowHeight="570px" >
        <ng-container *ngFor="let image of imagesData; let i = index">
          <td>
            <mat-grid-tile class="tile">
              <table>
                <tr>
                  <img src="{{ image.variants[0] }}" class="hoverMouse" height="280px" width="220px" id="image_{{ i }}" (click)="openDialog(image)">
                </tr>
                <tr>
                  <span class="variants" *ngFor="let variant of image.variants">
                    <img src="{{ variant }}" height="30px" width="20px" (click)="changePicture(i,variant)">
                  </span>
                </tr>
                <tr>
                  <div *ngIf="image.restrictions==='Begränsad'">Kvarstående publiceringar: {{ image.remaining_publications }}</div>
                </tr>
                <tr>
                  <button class="addBasketButton" mat-raised-button color="primary" (click)="addToCart(image)">Lägg till i varukorg</button>
                </tr>
                <tr *ngIf="getUserRole()==='Admin'">
                  
                    <mat-form-field class="newVariant" appearance="outline" id="fileUploader">
                      <div class="fileupload-full-width">
                        <mat-toolbar>
                          <input class="smallerText" matInput placeholder="Variant" readonly name="uploadedImage">

                          <input type="file" #UploadFileInput (change)="onFileSelect($event)" name="uploadedImage"
                                 accept="image/*">

                        </mat-toolbar>
                        <form [formGroup]="uploadVariantForm" (ngSubmit)="uploadVariant(image)">
                          <button class="fileupload-button" mat-raised-button color="primary" type="submit">Ladda upp</button>
                        </form>
                        <button mat-raised-button color="primary" type="button" (click)="imagedetail(image)">Redigera</button>
                      </div>
                    </mat-form-field>

                  
                </tr>

              </table>
              
            
              
            </mat-grid-tile>
          </td>
        </ng-container>
      </mat-grid-list>
    </tr>
  </table>
</div>
