.navbar-nav {
    text-align: center;
}
.navbar-nav li{
    display: inline;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
}

.menu-spacer {
    padding: 1em;
    margin-top: 3em;
}

.head {
  min-height: 5em !important;
  height: 5em !important;
  background-color: black;
  color: white;
  justify-content: space-between;
  position: sticky;
  top: 0em;
  z-index:999;
}

.tail {
  min-height: 2em !important;
  height: 2em !important;
  background-color: whitesmoke;
  justify-content: space-between;
  position:sticky;
  top:5em;
  z-index:999;
}

.button{
    min-width: 10em !important;
    width: 10em !important;
}

.logo {
    padding-left:2em;
}

.itemsCart {
  font-size: small;
  line-height: 2em;
  z-index: 1000;
  position: absolute;
  padding-left: 3em;
  padding-top: 0.5em;
  
}

a.cartButton:any-link {
  color: white;
}

a:link {
  text-decoration: none;
}
