<mat-toolbar class="head">
  <mat-toolbar-row class="head">
    <span>
      <h1 class="logo">Bothniabladets Bildarkiv</h1>
    </span>
    <span>
      <a [routerLink]="'/cart'" class="button"><img src="assets/img/shopping_cart.png" style="width:9em" /></a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="tail">
  <mat-toolbar-row class="tail">
    <span>
        <a mat-button [routerLink]="'/archiveview'" routerLinkActive="mat-raised-button" class="button"> Sök </a>
        <a mat-button [routerLink]="'/imageview'" routerLinkActive="mat-raised-button" class="button"> Ladda upp bild </a>
        <a mat-button [routerLink]="'/advancedsearchview'" routerLinkActive="mat-raised-button" class="button"> Avancerad sök </a>
        <a mat-button [routerLink]="'/customerview'" routerLinkActive="mat-raised-button" class="button"> Granskning </a>
        <a mat-button [routerLink]="'/invoiceview'" routerLinkActive="mat-raised-button" class="button"> Ekonomi </a>
        <a mat-button [routerLink]="'/searchresults'" routerLinkActive="mat-raised-button" class="button"> Sökresultat </a>
    </span>
    <span>
      <button mat-button [matMenuTriggerFor]="menu">Mina sidor</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profil</button>
        <button mat-menu-item>Orderhistorik</button>
        <button mat-menu-item>Fakturor</button>
      </mat-menu>
      <!--<a mat-button [routerLink]="'/loginview'" routerLinkActive="mat-raised-button" class="button"> Logga in </a>-->
    </span>
  </mat-toolbar-row>
</mat-toolbar>



<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
    <li class="nav-item active">
    <a *ngIf="getUserLoggedIn()" class="nav-link" [routerLink] = "['imageview']" routerLinkActive = "active">Ladda upp bilder</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink] = "['archiveview']" routerLinkActive = "active">Arkiv</a>
    </li>
    <li class="nav-item">
    <a *ngIf="getUserLoggedIn() && getUserRole()==='Admin'" class="nav-link" [routerLink] = "['invoiceview']" routerLinkActive = "active" >Fakturor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink] = "['customerview']" routerLinkActive = "active" >Kund</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!getUserLoggedIn()" class="nav-link" [routerLink] = "['login']" routerLinkActive = "active" >Logga in</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!getUserLoggedIn()" class="nav-link" [routerLink] = "['register']" routerLinkActive = "active" >Registrera</a>
    </li>
    <li class="nav-item">
      <a *ngIf="getUserLoggedIn()" class="nav-link" click="logoutUser()" [routerLink] = "['/']" routerLinkActive = "active" >Logga ut</a>
    </li>
      <a class="nav-link" [routerLink] = "['cart']" routerLinkActive = "active" >Varukorg</a>
    </li>
    </ul>
    </nav>
    <router-outlet></router-outlet> -->
