<br />
<br />
<br />
<div class="parent">
  <table class="userlist-full-width">
    <tr class="tableRowLeft">
      <p class="title">Användarregister</p>
    </tr>
    <div *ngFor="let anv of users, index as i">
      <mat-accordion class="headers-align" multi *ngIf="anv.role == 'Admin'">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ anv.name }} </mat-panel-title>
            <mat-panel-description> {{ anv.role }} <mat-icon class="paddingLeft">account_circle</mat-icon></mat-panel-description>
          </mat-expansion-panel-header>
          <table class="userlist-form-width">
            <tr class="tableRowLeft">
              <p class="paddingLeft">Användarnamn: {{ anv.username }}</p>
              <p class="paddingLeft">Namn: {{ anv.name }}</p>
              <p class="paddingLeft">Adress: {{ anv.invoiceAddress }}</p>
            </tr>
            <tr class="tableRowRight">
              <span class="paddingLeft"><button mat-raised-button color="primary" [routerLink]="['/lusers', anv.id]">Redigera</button></span>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <br />
    <div *ngFor="let anv of users, index as i">
      <mat-accordion class="headers-align" multi *ngIf="anv.role == 'Regular'">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ anv.name }} </mat-panel-title>
            <mat-panel-description> {{ anv.role }} <mat-icon class="paddingLeft">account_circle</mat-icon></mat-panel-description>
          </mat-expansion-panel-header>
          <table class="userlist-form-width">
            <tr class="tableRowLeft">
              <p class="paddingLeft">Användarnamn: {{ anv.username }}</p>
              <p class="paddingLeft">Namn: {{ anv.name }}</p>
              <p class="paddingLeft">Adress: {{ anv.invoiceAddress }}</p>
              <p class="paddingLeft">Rabatt: {{ anv.discount }}</p>
            </tr>
            <tr class="tableRowRight">
              <span class="paddingLeft"><button mat-raised-button color="primary" [routerLink]="['/lusers', anv.id]">Redigera</button></span>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </table>
</div>


