<!DOCTYPE html>


<br />

<div class="parent">
  <table class="dialog-full-width">
    <tr class="tableRowLeft">
      <th style="padding-right: 3em"><img src="{{ data.image_filepath }}" height="420px" width="330px"></th>
      <th style="text-align:left">

        <span class="tableRowLeft">
          <p><strong>Bilddetaljer</strong></p>

          <p>Fotograf: {{ data.photographer }}<br />
          Pris: {{ data.price }}<br />
          Publiceringsbegränsningar: {{ data.restrictions }}<br />
          Beskrivning: {{ data.description }}<br />
          Datum: {{ data.date_added }}<br /><br />
        </span>
      

        <span class="tableRowLeft">
          <p><strong>Platsdata</strong></p>
          
          <p>GPS-koordinater: {{ data.gps }}
          <br />
          Stad: {{ data.city }}
          <br />
          Land: {{ data.country }}
          <br />
          Plats: {{ data.place }}
          <br />
          Region: {{ data.region }}</p>
          <br />
          <br />
        </span>
      </th>
    </tr>
  </table>
</div>
