<br />
<br />
<br />
<div class="parent">
  <table class="review-full-width">
    <tr class="tableRowLeft">
      <p class="title">Uppladdade bilder för granskning</p>
    </tr>
    <ng-container *ngFor="let image of imagesData">
      <div class="paddingBottom">
        <mat-toolbar-row class="toolbarRow">
          <span>
            <img src="{{ image.filepath }}" height="150">
            <p>Fotograf: {{ image.photographer }}</p>
            <p>Beskrivning: {{ image.description }}</p>
            <p>Uppladdat: {{ image.date }}</p>
            <p>Plats: {{ image.place }} ({{ image.city }}, {{ image.region }}, {{ image.country }})</p>
            <p>GPS: {{ image.GPScoordinates }}</p>
          </span>

          <span class="paddingLeft">
            <button class="review-button" mat-raised-button color="white" (click)="declineImage(image)">Neka</button>

            <button class="review-button" mat-raised-button color="primary" (click)="approveImage(image)">GODKÄNN</button>
          </span>


        </mat-toolbar-row>
      </div>
    </ng-container>

  </table>
  </div>
