<br />
<br />
<br />
<!--<div class="parent">
  <form class="fileupload-form" [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">-->


<div class="parent">
  <div class="fileupload-form">
    <table class="fileupload-full-width">
      <tr class="tableRowLeft">
        <p class="title">Ladda upp bild</p>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="fileupload-full-width" appearance="outline">
          <div class="fileupload-full-width">
            <mat-toolbar>
              <input matInput [(ngModel)]="myfilename" placeholder="Välj fil" readonly name="uploadedImage">


              <input type="file" #UploadFileInput id="customFile" (change)="onFileSelect($event)" name="uploadedImage"
                     multiple="multiple" accept="image/*">

            </mat-toolbar>
          </div>
        </mat-form-field>
      </tr>
    </table>
  </div>
</div>




<div class="parent">
  <div class="fileupload-form">
    <form [formGroup]="image_data" (ngSubmit)="onFormSubmit()">
      <table class="fileupload-full-width">
        <tr class="tableRowLeft">
          <p style="font-weight:400">Bilddata</p>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Datum</mat-label>
            <input matInput placeholder="Datum" type="text" id="date" name="date" formControlName="date">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Fotograf</mat-label>
            <input matInput placeholder="Fotograf" type="text" id="photographer" name="photographer" formControlName="photographer">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Kategori</mat-label>
            <select matNativeControl placeholder="Kategori" id="category" name="category" formControlName="category">
              <option>-- Ingen --</option>
              <option value="Nyheter">Nyheter</option>
              <option value="Sport">Sport</option>
              <option value="Ekonomi">Ekonomi</option>
              <option value="Nöje">Nöje</option>
            </select>
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Underkategori</mat-label>
            <select matNativeControl placeholder="Underkategori" id="subcategory" name="subcategory" formControlName="subcategory">
              <option>-- Ingen --</option>
              <option value="Inrikes">Inrikes</option>
              <option value="Ishockey">Ishockey</option>
              <option value="Börs">Börs</option>
              <option value="Litteratur">Litteratur</option>
            </select>
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Nyckelord</mat-label>
            <input matInput placeholder="Nyckelord" type="text" id="keywords" name="keywords" formControlName="keywords">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <div id="guidelines">
            <p>
              Ange nyckelord separerade med kommatecken utan mellanslag.<br>
              Nyckelord bör som minst innehålla vem/vad bilden föreställer och sammanhang. <br>
              Exempel: Drottning Silvia,Blå Hallen,Nobelmiddag
            </p>
          </div>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Begränsningar</mat-label>
            <input matInput placeholder="Begränsningar" type="text" id="restrictions" name="restrictions" formControlName="restrictions">
          </mat-form-field>
        </tr>

      </table>
    </form>
  </div>
</div>


<div class="parent">
  <div class="fileupload-form">
    <form [formGroup]="location" (ngSubmit)="onFormSubmit()">
      <table class="fileupload-full-width">
        <tr class="tableRowLeft">
          <p style="font-weight:400">Platsdata</p>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">GPS-koordinater</mat-label>
            <input matInput placeholder="GPS-koordinater" type="text" id="GPS" name="GPS" formControlName="GPS">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Plats</mat-label>
            <input matInput placeholder="Plats" type="text" id="place" name="place" formControlName="place">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Stad</mat-label>
            <input matInput placeholder="Stad" type="text" id="city" name="city" formControlName="city">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Region</mat-label>
            <input matInput placeholder="Region" type="text" id="region" name="region" formControlName="region">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Land</mat-label>
            <input matInput placeholder="Land" type="text" id="country" name="country" formControlName="country">
          </mat-form-field>
        </tr>

      </table>
    </form>
  </div>
</div>

<div class="hiddenContent" >
  <div class="fileupload-form">
    <form [formGroup]="technical_data" (ngSubmit)="onFormSubmit()">
      <table class="fileupload-full-width">
        <tr class="tableRowLeft">
          <p style="font-weight:400">Teknisk data</p>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Format</mat-label>
            <input matInput placeholder="Format" type="text" id="format" name="format" formControlName="format">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Version</mat-label>
            <input matInput placeholder="Version" type="text" id="version" name="version" formControlName="version">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Bildhöjd (px)</mat-label>
            <input matInput readonly placeholder="Bildhöjd (px)" type="number" id="height" name="height" formControlName="height">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Bildbredd (px)</mat-label>
            <input matInput readonly placeholder="Bildbredd (px)" type="number" id="width" name="width" formControlName="width">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Filstorlek (MB)</mat-label>
            <input matInput readonly placeholder="Filstorlek (MB)" type="text" id="image_size" name="image_size" formControlName="image_size">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Upplösning</mat-label>
            <input matInput readonly placeholder="Upplösning" type="text" id="resolution" name="resolution" formControlName="resolution">
          </mat-form-field>
        </tr>
        <tr class="tableRowCenter">
          <mat-form-field class="fileupload-full-width" appearance="outline">
            <mat-label class="matLabel">Kamera</mat-label>
            <input matInput placeholder="Kamera" type="text" id="camera" name="camera" formControlName="camera">
          </mat-form-field>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="parent">
  <span class="fileupload-form">
    <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
      <table class="fileupload-full-width">
        <tr class="tableRowRight">
          <span class="paddingLeft"><button class="fileupload-button" id="uploadButton" mat-raised-button color="white" type="reset" (click)="resetForm()">Rensa</button></span>
          <span class="paddingLeft"><button class="fileupload-button" mat-raised-button color="primary" type="submit">Ladda upp</button></span>
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
        </tr>
      </table>
     </form>
  </span>
</div>

<br />
<br />


