<form [formGroup]="registerform" (ngSubmit)="onFormSubmit()">
    <p>
    <input  type = "text" name = "username" placeholder = "användarnamn" formControlName="username">
</p>
<p>
    <input  type = "password" name = "password" placeholder = "lösenord" formControlName="password">
</p>
<p>
    <input  type = "text" name = "name" placeholder = "namn" formControlName="name">
</p>
<p>
    <input  type = "text" name = "invoiceAddress" placeholder = "fakturaadress" formControlName="invoiceAddress">
</p>
<p>
    <input type="radio" id="Regular" name="role" value="Regular" formControlName="role">
    <label for="Regular">Regular</label>
    <input type="radio" id="Admin" name="role" value="Admin" formControlName="role">
    <label for="Admin">Admin</label>
</p>
<input type = "submit" value = "Registrera">
  </form>
