
<br />
<br />
<br />
<div class="parent">
  <form class="search-form" [formGroup]="simplesearch_data" (ngSubmit)="onFormSubmit()">
    <table style="width:100%">
      <tr style="text-align:center">
        <h1>Välkommen till <br />Bothniabladets bildarkiv</h1>
        <p>Skriv valfria sökord för att göra en ny sökning i bildarkivet. Alternativt bläddra bland kategorier nedan.</p>
      </tr>
      <tr style="text-align:center">
        <th style="width:80%">
          <mat-form-field class="search-full-width" appearance="outline">
            <mat-label style="font-size:large"><mat-icon style="width:2em">search</mat-icon>Skriv valfria sökord här</mat-label>
            <input matInput placeholder="Sökord" type="text" id="simple_searchString" name="simple_searchString" formControlName="simple_searchString">
          </mat-form-field>
        </th>
        <th style="width:20%; align-content:center">
          <div class="search-button"><button mat-raised-button color="primary" type="submit">Sök</button></div>
        </th>
      </tr>
    </table>
  </form>
</div>

<br />
<br />

<mat-toolbar class="categories-field">
  <mat-toolbar-row class="categories-field">
    <span class="menu-spacer"></span>
    <table>
      <tr style="text-align:left">
        <th>
          <h1>Kategorier</h1>
        </th>
       </tr>
      <tr>
        <th class="category-link">
          <a href=""> Aktuella händelser <br /><img src="" width="220" height="280" /></a>
        </th>
        <th class="category-link">
          <a href=""> Nyhetshändelser <br /><img src="" width="220" height="280" /></a>
        </th>
        <th class="category-link">
          <a href=""> Sport <br /><img src="" width="220" height="280" /></a>
        </th>
        <th class="category-link">
          <a href=""> Ekonomi <br /><img src="" width="220" height="280" /></a>
        </th>
        <th class="category-link">
          <a href=""> Nöje <br /><img src="" width="220" height="280" /></a>
        </th>

      </tr>

      </table>
  </mat-toolbar-row>
</mat-toolbar>



<!--<fieldset>
  <legend>Ny sökning</legend>
  <form [formGroup]="simplesearch_data" (ngSubmit)="onFormSubmit()">
    <p>
      <label for="new_simplesearch">Sök </label>
      <input type="text" id="simple_search" name="simple_search" formControlName="simple_search">
      <button class="btn btn-primary" type="submit">Sök</button>
    </p>
  </form>
</fieldset>

<p>På den här sidan skall alla mullvadar på arkivet kunna: </p>
<ul>
  <li>söka på bilder baserat på t ex sökord</li>
  <li>"bunta ihop" bilder till kund+fakturaavdelning</li>
  <li>fyll på med fler användarkrav...</li>
</ul>-->
