
<br />
<br />
<br />
<div class="parent">
  <form class="search-form" [formGroup]="simplesearch_data" (ngSubmit)="onFormSubmit()">
    <table class="search-full-width">
      <tr class="tableRowCenter">
        <h1>Välkommen till <br />Bothniabladets bildarkiv</h1>
        <p>Skriv valfria sökord för att göra en ny sökning i bildarkivet. Alternativt bläddra bland kategorier nedan.</p>
      </tr>
      <tr class="tableRowCenter">
        <th style="width:80%">
          <mat-form-field class="search-full-width" appearance="outline">
            <mat-label class="matLabel"><mat-icon class="matIcon">search</mat-icon>Skriv valfria sökord här</mat-label>
            <input matInput placeholder="Sökord" type="text" id="simple_searchBar" name="simple_searchString" formControlName="simple_searchString">
          </mat-form-field>
        </th>
        <th style="width:20%; align-content:center">
          <div class="search-button"><button mat-raised-button color="primary" type="submit">Sök</button></div>
        </th>
      </tr>
    </table>
  </form>
</div>

<br />
<br />

<mat-toolbar class="categories-field">
  <mat-toolbar-row class="categories-field">
    <span class="menu-spacer"></span>
    <table>
      <tr class="tableRowLeft">
        <th>
          <h1>Kategorier</h1>
        </th>
      </tr>
      <tr>
        <th class="category-link"> Aktuella händelser
          <br /><img src="http://localhost:3001/uploaded_images/{{ rawSearchFresh.allImages[index].title }}" (click)="freshClick()" width="220" height="280" />
        </th>
        <th class="category-link"> Nyhetshändelser 
          <br /><img src="http://localhost:3001/uploaded_images/{{ rawSearchNews.allImages[newsSearchRandom].title }}" (click)="newsClick()" width="220" height="280" />
        </th>
        <th class="category-link"> Sport 
          <br /><img src="http://localhost:3001/uploaded_images/{{ rawSearchSport.allImages[sportSearchRandom].title }}" (click)="sportClick()" width="220" height="280" />
        </th>
        <th class="category-link"> Ekonomi 
          <br /><img src="http://localhost:3001/uploaded_images/{{ rawSearchEconomy.allImages[economySearchRandom].title }}" (click)="economyClick()" width="220" height="280"/>
        </th>
        <th class="category-link">Nöje 
          <br /><img src="http://localhost:3001/uploaded_images/{{ rawSearchEntertainment.allImages[entertainmentSearchRandom].title }}" (click)="entertainmentClick()" width="220" height="280" />
        </th>

      </tr>

    </table>
  </mat-toolbar-row>
</mat-toolbar>

