
<br />
<br />
<br />
<!--<div class="parent">
  <form class="userdetail-form" [formGroup]="userData_fields" *ngIf="user && editable==false">
    <table class="userdetail-full-width">
      <tr class="tableRowLeft">
        <p class="title">Användardetaljer</p>
      </tr>

      <tr class="tableRowLeft">
        <th class="columnSmall"><img width="80" height="120" /></th>
        <th class="columnLarge">
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Användarnamn</mat-label>
          <input matInput readonly type="text" id="username" name="username" formControlName="username">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Namn</mat-label>
          <input matInput readonly type="text" id="name" name="name" formControlName="name">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Fakturaadress</mat-label>
          <input matInput readonly type="text" id="invoiceAddress" name="invoiceAddress" formControlName="invoiceAddress">
        </mat-form-field>
      </tr>
      <tr class="tableRowLeft">
        <p class="smallerText">
          Användarroll
          <mat-radio-group class="register-full-width" appearance="outline" id="role" name="role" formControlName="role">
            <mat-radio-button disabled="true" value="Regular" class="radioButton">Regular</mat-radio-button>
            <mat-radio-button disabled="true" value="Admin" class="radioButton">Admin</mat-radio-button>
          </mat-radio-group>
        </p>
      </tr>
      <tr class="tableRowRight">
        <br />
        <span class="paddingLeft"><button class="userdetail-button" mat-raised-button color="white" [routerLink]="'/userlist'">Tillbaka</button></span>
        <span class="paddingLeft"><button class="userdetail-button" mat-raised-button color="primary" (click)="edit()">Redigera</button></span>
      </tr>
    </table>
  </form>
</div>-->





<div class="parent">
  <form class="userdetail-form" [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()" *ngIf="user">
    <table class="userdetail-full-width">
      <tr class="tableRowLeft">
        <p class="title">Användardetaljer</p>
      </tr>

      <tr class="tableRowLeft">
        <th class="columnSmall"><img width="80" height="120" /></th>
        <th class="columnLarge">
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Användarnamn</mat-label>
          <input matInput readonly value="{{ user.username }}" type="text">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Namn</mat-label>
          <input matInput type="text" id="name" name="name" formControlName="name">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Lösenord</mat-label>
          <input matInput type="text" id="password" name="password" formControlName="password">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Fakturaadress</mat-label>
          <input matInput type="text" id="invoiceAddress" name="invoiceAddress" formControlName="invoiceAddress">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="userdetail-form-width" appearance="outline">
          <mat-label class="matLabel">Rabatt</mat-label>
          <input matInput type="number" id="discount" name="discount" formControlName="discount">
          <div *ngIf="userUpdateForm.controls['discount'].invalid">Rabatt kan ges mellan 0-100</div>
        </mat-form-field>
      </tr>
      <tr class="tableRowLeft">
        <p class="smallerText">
          Användarroll
          <mat-radio-group value="{{ user.role }}" class="register-full-width" appearance="outline" id="role" name="role" formControlName="role">
            <mat-radio-button value="Regular" class="radioButton">Regular</mat-radio-button>
            <mat-radio-button value="Admin" class="radioButton">Admin</mat-radio-button>
          </mat-radio-group>
        </p>
      </tr>
      <tr class="tableRowRight">
        <br />
        <span class="paddingLeft"><button class="userdetail-button" mat-raised-button color="white" [routerLink]="'/userlist'">Ångra</button></span>
        <span class="paddingLeft"><button class="userdetail-button" mat-raised-button color="primary" type="submit" *ngIf="!userUpdateForm.controls['discount'].invalid">Ändra</button></span>
      </tr>
    </table>
  </form>
</div>




<!--</div>

<div div class="parent" *ngIf="user && editable==true">
  <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
    <div>
      <h3>Användarnamn: {{ user.username }} </h3>
    </div>
    <div>
      <label for="name">
        Namn
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="password">
        Lösenord
      </label>
      <input id="password" type="text" formControlName="password">
    </div>
    <div>
      <label for="invoiceAddress">
        Adress
      </label>
      <input id="invoiceAddress" type="text" formControlName="invoiceAddress">
    </div>
    <div>
      <label for="discount">
          Rabatt
      </label>
      <input id="discount" type="number" formControlName="discount">
      <div *ngIf="userUpdateForm.controls['discount'].invalid">Rabatt kan ges mellan 0-100</div>
    </div>
    <div>
      <span>
        <label for="role">
          Roll
        </label>
      </span>
      <span>
        <input id="role" type="radio" value="Regular" formControlName="role"> Regular
        <input id="role" type="radio" value="Admin" formControlName="role"> Admin
      </span>
    </div>
        <button (click)="edit()">Ångra</button>
    <button class="button" type="submit" *ngIf="!userUpdateForm.controls['discount'].invalid">Ändra</button>
    
    </form> 
  
</div>-->
