<br />
<br />
<br />
<div class="parent">
  <form class="advancedsearch-form" [formGroup]="advancedsearch_data" (ngSubmit)="onFormSubmit()">
    <table class="advancedsearch-full-width">
      <tr class="tableRowLeft">
        <p class="title">Avancerad sökning</p>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="advancedsearch-full-width" appearance="outline">
          <mat-label class="matLabel">Nyckelord</mat-label>
          <input matInput placeholder="Sökord" type="text" id="advanced_searchString" name="advanced_searchString" formControlName="advanced_searchString">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="advancedsearch-full-width" appearance="outline">
          <mat-label class="matLabel">Titel</mat-label>
          <input matInput placeholder="Titel" type="text" id="advanced_searchTitle" name="advanced_searchTitle" formControlName="advanced_searchTitle">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="advancedsearch-full-width" appearance="outline">
          <mat-label class="matLabel">Kategori</mat-label>
          <mat-select matNativeControl multiple [(value)]="selectedCategories" placeholder="Kategori" id="advanced_searchCategory" name="advanced_searchCategory" formControlName="advanced_searchCategory">
            <mat-option [value]="category.value" *ngFor="let category of categoriesOptions">{{category.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>

      <tr class="tableRowCenter">
        <mat-form-field class="advancedsearch-full-width" appearance="outline">
          <mat-label class="matLabel">Underkategori</mat-label>
          <mat-select matNativeControl multiple placeholder="Underkategori" id="advanced_searchSubcategory" name="advanced_searchSubcategory" formControlName="advanced_searchSubcategory">
            <mat-option *ngFor="let subcategory of subCategoriesOptions" [value]="subcategory">{{subcategory}}</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="advancedsearch-full-width" appearance="outline">
          <mat-label class="matLabel">Fotograf</mat-label>
          <input matInput placeholder="Fotograf" type="text" id="advanced_searchPhotografer" name="advanced_searchPhotografer" formControlName="advanced_searchPhotografer">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="advancedsearch-full-width" appearance="outline">
          <mat-label class="matLabel">Upplösning</mat-label>
          <input matInput placeholder="Upplösning" type="number" id="advanced_searchResolution" name="advanced_searchResolution" formControlName="advanced_searchResolution">
        </mat-form-field>
      </tr>
      <tr class="tableRowCenter">
        <mat-form-field class="advancedsearch-full-width" appearance="outline">
          <mat-label class="matLabel">Plats</mat-label>
          <input matInput placeholder="Plats" type="text" id="advanced_searchPlace" name="advanced_searchPlace" formControlName="advanced_searchPlace">
        </mat-form-field>
      </tr>

      <tr class="tableRowLeft">
        <p>
          Publicerad?
          <mat-radio-group class="advancedsearch-full-width" appearance="outline" id="advanced_searchPublished" name="advanced_searchPublished" formControlName="advanced_searchPublished">
            <mat-radio-button value="Ja" class="radioButton">Ja</mat-radio-button>
            <mat-radio-button value="Nej" class="radioButton">Nej</mat-radio-button>
          </mat-radio-group>
        </p>
      </tr>
      <!--
  <tr style="text-align:center">
    <mat-form-field class="advancedsearch-full-width" appearance="outline">
      <mat-label class="matLabel">Datum från-till</mat-label>
      <mat-date-range-input>
        <input matStartDate placeholder="Datum från" type="date" id="advanced_searchDateFrom" name="advanced_searchDateFrom" formControlName="advanced_searchDateFrom">
        <input matEndDate placeholder="Datum till" type="date" id="advanced_searchDateTo" name="advanced_searchDateTo" formControlName="advanced_searchDateTo">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    </mat-form-field>
  </tr>-->



      <tr class="tableRowRight">
        <br />
        <span class="paddingLeft"><button class="advancedsearch-button" mat-raised-button color="white" type="reset">Rensa</button></span>
        <span class="paddingLeft"><button class="advancedsearch-button" mat-raised-button color="primary" type="submit">Sök</button></span>
      </tr>
    </table>
    </form>
  </div>
